
.logo {
    width: 120px;
}

.nv-btn {
    border-radius: 14px;
}

.nav-color {
    color: #4551b0;
}

.nav-color:hover {
    color: #CF278D;
}

.nav-link:focus {
    color: #CF278D;
}

.nv-btn:hover {
    background-color: #CF278D;
    border: 1px solid #CF278D;
}

.nav-link {
    color: #4551b0;
}

.nav-link:hover {
    color: #CF278D;
}

.home-section {
    background-image: linear-gradient(to right, #39468a, #233071);
}

.hero-img {
    width: 95%;
    padding-left: 30px;
    padding-top: 20px;
}

.text-color {
    color: #CCD3F2;
}

.hero-btn1 {
    border: 2px solid #CF278D;
    border-radius: 13px;
    color: #CF278D;
    background-color: #fff;
    padding: 14px 20px;
}

.hero-btn1:hover {
    color: #6678FF;
    border: 2px solid #6678FF;
    background-color: #fff;
}

.hero-btn2 {
    background-color: #CF278D;
    border: 1px solid #CF278D;
    border-radius: 13px;
    color: white;
    padding: 14px 20px;
}

.hero-btn2:hover {
    background-color: #6678FF;
    border: 1px solid #6678FF;
    color: white;
}

/* hero section done */

